.filter-input {
  padding: 20px 0;
  width: 50%;
  margin-left: 25%;
}


.breed-images-div {
  flex-wrap: wrap;
  justify-content: space-between;
}



.breed-name {
  margin-top: 5px;
  text-align: center;
}

.btn-custom-search {
  position: absolute;
  right: 14px;
  top: 10px;
}
